<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="tappx.admob.custom.event"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
    <framework src="com.tappx.sdk.android:tappx-sdk:3.+" />
  </platform>


</plugin>